<div class="container-fluid" style="background-image: url('../../../assets/images/fondo.jpg'); background-size: cover;">
  <div class="row">
    <div class="vh-100 vw-100 d-flex justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 col-12 d-flex justify-content-center">
        <div class="d-flex justify-content-center shadow-lg" style=" background-color: rgba(0,0,0,0.5); width: 80%; height: 100%;">
          <div class=" my-auto shadow-lg" style="background-color: aliceblue; width: 90%; height: 23rem; border-radius: 10px;">
            <div class="m-4"><h2>Login</h2></div>
            <div class="mb-2" style="padding: 0 2rem 0 2rem;">
              <label for="exampleInputPassword1" class="form-label">Username</label>
              <input type="text" class="form-control shadow" id="exampleInputPassword1">
            </div>
            <div class="mb-4" style="padding: 0 2rem 0 2rem;">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <div class="input-group">
                <input type="password" class="form-control shadow" id="exampleInputPassword1">
                <button class="btn btn-secondary shadow"><i class="fa-solid fa-eye"></i> </button>
              </div>
            </div>
            <div class="m-2 pt-3 d-flex justify-content-center">
              <button class="btn btn-primary shadow">Ingresar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
